# Python Cache
__pycache__
.ruff_cache
.mypy_cache
.venv

# Generated table
*.xlsx

# Cache
cache/*

# Test
test*

# Fs History
fs/history.log
options/history.log
path_history.json

# Rust cache
/target